lab01_intro/
**/highway/
**/office/
**/groundtruth/
**/pedestrian/
**/BSUV/
**/sequences/
**/KITTI/
**/small_KITTI/
**/test_rgb/
**/test_thermal/
yolov3_training**
**/images
calib.txt
events.txt
groundtruth.txt
images.txt
imu.txt
**/neg/
**/pos/
**/data/
**/siamfc.pth

*.zip
*.tar.xz
*.xz
*.tar
*.rar